<ion-view>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="model.loginData.username" name="username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password"
               name="senha"
               ng-model="model.loginData.password"/>
      </label>

      <button class="button button-block button-positive" ng-click="login()">
        Sign In
      </button>
      <div class="item item-input-inset">
        <ion-checkbox ng-model="model.loginData.isStayedIn">Stay Signed In</ion-checkbox>
        <a >
          Forgot your password
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
