<ion-view>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="email" placeholder="Email"/>
      </label>
      <label class="item item-input">
        <input type="email" placeholder="Reenter Email"/>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password"/>
      </label>

      <div class="item item-input-inset">
        <label class="item-input">
          <input type="text" placeholder="First Name">
        </label>
        <label class="item-input">
          <input type="text" placeholder="Last Name">
        </label>
      </div>

      <label class="item item-input">
        <input type="tel" placeholder="Mobile"/>
      </label>

      <button class="button button-block button-positive">
        Register
      </button>
    </div>
  </ion-content>
</ion-view>
