/* Empty. Add your own CSS if you like */

.pCategorySprite{width:92px;height:89px;background-size:94px 801px;background-repeat:no-repeat;margin:0 }
.hotcategory{
  height: 220px;
}


.item-checkbox{
  border:none;
}
